/* Sidebar */
.card-wrapper {
  padding: 20px;
  background-color: #191919;
}
.left-nav > ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
.favourites-wrapper {
  font-size: 0.8rem;
  padding: 10px 20px;
}
.sidebar-header{
  display: flex;
  justify-content: space-between;
}
.show-sidebar {
  animation-name: showitemX;
  animation-duration: 0.3s;
}
@keyframes showitemX {
  from {opacity: 0; transform: translateX(-50px);}
  to {opacity: 1; transform: translateX(0);}
}
@keyframes showitemY {
  from {opacity: 0; transform: translateY(-50px);}
  to {opacity: 1; transform: translateY(0);}
}